.card
  position relative
  display block
  width 300px
  margin-bottom 20px
  margin-left auto
  margin-right auto
  border-radius 5px
  overflow hidden
  color #04050e
  transition transform 0.3s, box-shadow 0.3s

  &:hover
    z-index 1
    transform scale(1.05)
    box-shadow 0 0 15px #000000

  &__img
    display block
    width 100%
    height 390px
    margin 0 auto
    object-fit cover
    object-position center

  &__info
    position absolute
    bottom 0
    left 0
    right 0
    padding 10px 10px
    background-color rgba(255, 255, 255, 0.7)

  &__title
    margin-top 0
    margin-bottom 5px
    font-size 20px

  &__additional
    display flex
    justify-content space-between
    align-items center

  &__year
    margin-top 0
    margin-bottom 0
    font-size 18px
    text-transform capitalize
